# Environment specific (should be in a global gitignore).
.venv/
.vscode/
*.code-workspace

# Something in the middle.
.env
upd/geckodriver.exe
upd/geckodriver.log
upd/chromedriver.exe

# Project specific.
__pycache__/
be/**/*.db
be/**/*.jpg
be/diffs/
be/tools/fix_hirez.py
fe/.parcel-cache
fe/dist/
fe/node_modules/
upd/**/*.log
upd/**/*.json
