# Generic.
.venv/
__pycache__/
.idea/
.vscode/
.mypy_cache/

# Project specific.
.env
/storage/**
!/storage/**/
!/storage/**/.gitkeep
/backend/webapi/tools/fix_hirez.py
/backend/updater/tools/**/*.log
/backend/updater/tools/**/*.json
/frontend/.parcel-cache
/frontend/dist/
/frontend/node_modules/
