# Environment specific (should be in a global gitignore).
.venv/
.vscode/
*.code-workspace

# Something in the middle.
.env
updater/geckodriver.exe
updater/geckodriver.log
updater/chromedriver.exe

# Project specific.
__pycache__/
backend/**/*.db
frontend/.parcel-cache
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
updater/logs/*.log
