# The deps are kept in a single venv for convenience

# Shared
python-dotenv

# Backend
bottle
peewee
pydantic
pillow
charybdis

# Updater
selenium
requests
tqdm

# Log manager
requests
msgspec

# Development
black
isort
flake8
flake8-pyproject
mypy
types-pillow
types-requests
types-tqdm
pytest
