# The deps are kept in a single venv for convenience

# Shared
python-dotenv

# Backend
gunicorn
bottle
sqlalchemy
pydantic
pillow
charybdis

# Updater
selenium
requests
tqdm

# Item viewer
flask

# Development
black
isort
flake8
flake8-pyproject
mypy
types-pillow
types-requests
types-tqdm
pytest
